<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CargarGeoJSON</servlet-name>
        <servlet-class>Controladores.CargarGeoJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controladores.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guardar</servlet-name>
        <servlet-class>Controladores.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>Controladores.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controladores.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2</servlet-name>
        <servlet-class>Controladores.Login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controladores.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarGeoJSON</servlet-name>
        <servlet-class>Controladores.InsertarGeoJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarZona</servlet-name>
        <servlet-class>Controladores.InsertarZona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarNombresRutas</servlet-name>
        <servlet-class>Controladores.CargarNombresRutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularIntersecciones</servlet-name>
        <servlet-class>Controladores.CalcularIntersecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarIntersecciones</servlet-name>
        <servlet-class>Controladores.BorrarIntersecciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargarGeoJSON</servlet-name>
        <url-pattern>/CargarGeoJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guardar</servlet-name>
        <url-pattern>/Guardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2</servlet-name>
        <url-pattern>/Login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarGeoJSON</servlet-name>
        <url-pattern>/InsertarGeoJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarZona</servlet-name>
        <url-pattern>/InsertarZona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarNombresRutas</servlet-name>
        <url-pattern>/CargarNombresRutas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarIntersecciones</servlet-name>
        <url-pattern>/BorrarIntersecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularIntersecciones</servlet-name>
        <url-pattern>/CalcularIntersecciones</url-pattern>
    </servlet-mapping>       
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>route_sin_osrm.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
